<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyz.mapper.PollutionDataMapper">

    <select id="getImagesForDay" resultType="string">
        SELECT file_path
        FROM pollution_data
        WHERE DATE(produce_time) = #{date}
        ORDER BY produce_time ASC
    </select>

    <select id="streamAllData" resultType="com.lyz.pojo.PollutionData">
        SELECT * FROM pollution_data
    </select>

</mapper>